/* 375px */
/* 414px */
/* 960px */
/* 768px */
/* 1024px */
/* 1440px  */
/* 1441px */
h1, h2, h3, .button {
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5rem;
}

/* Utility classes */
.hide {
  display: none;
}

.show {
  display: block !important;
}

.rotate-right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: .4rem;
          transform-origin: .4rem;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.rotate-left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: .4rem;
          transform-origin: .4rem;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.no-opacity {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  color: #4b5862;
}

h1, h2, h3, h4 {
  color: #1f3f5b;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  width: 88%;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

ul.menu li a {
  color: #1f3f5b;
}

ul.submenu li a {
  color: #4b5862;
}

/* helper class to set visibility 
on different screen sizes 
.hide-on-mobile {

    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-on-desktop {

    @include breakpoint-up(large) {
        display: none;
    }
}
*/
nav#main-nav {
  width: 45%;
  margin-top: -.5rem;
}

nav#main-nav a {
  color: white;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

nav#main-nav a:hover {
  color: #d9d9d9;
}

nav#main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav#main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
}

nav#main-nav li .submenu {
  background: white;
  border-radius: .5rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#main-nav li .submenu a {
  color: #25252d;
  height: 3rem;
  font-weight: 400;
}

nav#main-nav li .submenu a span.arrow {
  margin-left: 0.3rem;
  font-size: 0.9rem;
}

nav#main-nav li .submenu a:hover {
  font-weight: 700;
}

nav#main-nav li:hover .submenu > li {
  display: block;
  top: 0px;
}

span.arrow {
  margin-left: .25rem;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
}

.submenu li {
  display: none;
  position: absolute;
  top: 0px;
}

nav#login-menu {
  width: 33%;
  float: right;
  margin-top: -4rem;
}

nav#login-menu a {
  color: white;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

nav#login-menu a:hover {
  color: #d9d9d9;
}

nav#login-menu a.button.sign-up {
  background: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4rem;
  width: 8rem;
  height: 2.5rem;
  margin-top: .75rem;
  color: #ff525d;
}

nav#login-menu a.button.sign-up:hover {
  background: rgba(255, 255, 255, 0.5);
}

nav#login-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav#login-menu li {
  width: 100%;
  text-align: center;
  position: relative;
}

#mobilemenu-toggle {
  display: none;
}

div#mobilemenu-container {
  background: transparent;
  margin: initial;
  padding: initial;
  border-radius: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/** RESPONSIVE **/
@media only screen and (max-width: 60em) {
  div#mobilemenu-container {
    background: white;
    margin: 4rem 2rem 2rem 2rem;
    padding: 2rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
    display: none;
  }
  nav#main-nav,
  nav#login-menu {
    display: inline-block;
    width: 100%;
  }
  nav#main-nav ul,
  nav#login-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav#main-nav ul li a,
  nav#login-menu ul li a {
    color: #1f3f5b;
  }
  nav#main-nav ul li a span.arrow,
  nav#login-menu ul li a span.arrow {
    color: #ff525d;
    margin-left: .25rem;
  }
  nav#main-nav li .submenu {
    background: #f1f1f3;
  }
  nav#login-menu {
    float: none;
    margin-top: 0;
    border-top: 1px solid #f1f1f3;
    padding-top: .8rem;
  }
  a.button.sign-up {
    margin: auto;
    background: -webkit-gradient(linear, right top, left top, from(#ff8f70), to(#ff3d54)) !important;
    background: linear-gradient(to left, #ff8f70, #ff3d54) !important;
    color: white !important;
  }
  #mobilemenu-toggle {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-right: 2rem;
    display: initial;
  }
  span.hamburger {
    height: 2px;
    width: 100%;
    background: white;
    display: block;
    margin-bottom: .3rem;
  }
  .submenu {
    position: initial;
  }
}

header {
  background: url("/img/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: url("/img/bg-pattern-intro.svg"), linear-gradient(#ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position-x: 28%;
  background-position-y: 53%;
  background-size: 208rem;
  width: 100vw;
  color: white;
  border-bottom-left-radius: 7rem;
  padding-top: 4rem;
}

header .hero {
  padding: 4rem 2rem 12rem 2rem;
  text-align: center;
}

header .hero h1 {
  font-family: "Overpass", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  color: white;
}

header .hero h2 {
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 4rem;
  color: white;
}

header .hero .button {
  padding: .95rem 1.75rem;
  background: white;
  -webkit-transition: background .4s;
  transition: background .4s;
  border-radius: 3.125rem;
  font-weight: 600;
  white-space: nowrap;
}

header .hero .start-free {
  margin: 0 0.2rem;
  color: #ff525d;
  text-decoration: none;
}

header .hero .start-free:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: background .4s;
  transition: background .4s;
}

header .hero .learn-more {
  background: transparent;
  border: 1px solid white;
  color: white;
  -webkit-transition: color .4s;
  transition: color .4s;
  text-decoration: none;
}

header .hero .learn-more:hover {
  background: white;
  -webkit-transition: background .4s;
  transition: background .4s;
  color: #ff525d;
}

img.logo {
  float: left;
  margin-left: 2rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}

section h2 {
  margin-top: 5rem;
  text-align: center;
}

section#first-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0px;
}

section#first-section h2 {
  font-size: 2rem;
}

section#first-section .illustration {
  overflow-x: visible;
  width: 45rem;
  margin-top: -6rem;
}

section.dark {
  background: #2c2d3f url("/img/bg-pattern-circles.svg") no-repeat;
  background-size: 59rem;
  background-position-y: -30rem !important;
  background-position-x: -12rem !important;
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  color: white;
  padding: 4rem 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.dark .dark-text-container {
  text-align: left;
  width: 57%;
}

section.dark .dark-text-container h3 {
  color: white;
  margin-top: 11rem;
  font-size: 2.1rem;
}

section.dark .dark-text-container p {
  font-size: 1rem;
  line-height: 1.9rem;
}

section.dark img.mobile-phone-img {
  margin-bottom: 0;
}

section#third-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#third-section img.laptop-img {
  width: 66%;
  margin-left: -21rem;
}

section#third-section .section-text-container {
  width: 100%;
}

footer {
  padding: 5rem 2rem;
  background: #25252d;
  border-top-right-radius: 8rem;
}

nav.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.footer-menu img.footer-logo {
  margin-bottom: 4rem;
}

nav.footer-menu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

nav.footer-menu ul.menu li {
  list-style-type: none;
  text-align: center;
}

nav.footer-menu ul.menu li a {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

nav.footer-menu ul.menu li a:hover {
  -webkit-transition: border-bottom .4s;
  transition: border-bottom .4s;
  border-bottom: 1px solid white;
}

nav.footer-menu ul.menu ul.footer-submenu {
  margin: 1.5rem auto;
}

nav.footer-menu ul.menu ul.footer-submenu li a {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  line-height: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.3rem;
  color: white;
  padding: .5rem;
  border-radius: 2rem;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.attribution a {
  color: white;
}

.attribution:hover {
  background: #ffffff1a;
}

/* RESPONSIVE */
@media screen and (min-width: 23.4375em) {
  section {
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#first-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: 20rem;
  }
  section#first-section h2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 5rem;
  }
  section#first-section .illustration {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  section#first-section .section-text-container {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section.dark {
    background-position-y: -16.5rem;
    background-position-x: -7.5rem;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    padding-bottom: 10rem;
  }
  section.dark img.mobile-phone-img {
    margin-top: -17rem;
    width: 100%;
  }
  section.dark .dark-text-container {
    width: 90%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  section.dark .dark-text-container h3 {
    margin-top: 0;
    font-weight: normal;
    font-size: 2.5rem;
  }
  section.dark .dark-text-container p {
    padding: 0 1rem;
    line-height: 2.3rem;
  }
  section#third-section {
    padding-left: 0;
    padding-right: 0;
  }
  section#third-section .section-text-container {
    width: 90%;
  }
  section#third-section img.laptop-img {
    width: 100%;
    margin: 0;
  }
  nav.footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.footer-menu ul.menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 48em) {
  header img.logo {
    margin-left: 5rem;
  }
  header #mobilemenu-toggle {
    margin-right: 3rem;
  }
  section#first-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#first-section .illustration {
    width: 100%;
  }
  section#first-section .section-text-container {
    width: 80%;
    margin-left: 2rem;
  }
  section.dark .dark-text-container {
    margin-top: 0rem;
    width: 90%;
  }
  section.dark .dark-text-container h3 {
    margin-top: 0;
  }
  section#third-section img.laptop-img {
    width: 80%;
    margin-left: 0;
  }
  section#third-section .section-text-container {
    width: 80%;
  }
  footer.footer nav.footer-menu ul.menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    margin-left: 4rem;
  }
  footer.footer nav.footer-menu ul.menu ul.footer-submenu {
    margin: 1.5rem auto 1.5rem -4rem;
  }
}

@media screen and (min-width: 64rem) {
  h3 {
    width: 100%;
  }
  p {
    padding-left: 1rem;
  }
  header img.logo {
    margin-left: 7rem;
  }
  header #mobilemenu-container nav#main-nav {
    width: 53%;
  }
  header #mobilemenu-container nav#login-menu {
    margin-right: 4rem;
  }
  section#first-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 0;
    margin-bottom: 5rem;
  }
  section#first-section h2 {
    margin: 6rem 0 1rem 0;
  }
  section#first-section .illustration {
    width: 38rem;
    margin-left: -7rem;
    margin-right: -7rem;
    overflow: visible;
  }
  section#first-section .illustration img {
    margin-right: -21rem;
    width: 115%;
  }
  section#first-section .section-text-container {
    width: 50%;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
  }
  section#first-section .section-text-container p {
    padding-left: 0;
  }
  section.dark {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 3rem;
  }
  section.dark .dark-text-container {
    margin-top: 0rem;
    width: 40%;
    text-align: left;
  }
  section.dark .dark-text-container p {
    padding-left: 0;
  }
  section.dark img.mobile-phone-img {
    margin-top: -4rem;
    margin-bottom: -6rem;
    width: initial;
  }
  section#third-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section#third-section picture {
    width: 60%;
    margin-left: -8rem;
  }
  section#third-section .section-text-container {
    width: 40%;
    text-align: left;
    margin-right: 7.5rem;
  }
  section#third-section .section-text-container p {
    padding-left: 0;
  }
  section#third-section img.laptop-img {
    width: 100%;
    margin-left: -7rem;
  }
  footer.footer nav.footer-menu ul.menu {
    width: 90%;
    margin-left: 11rem;
  }
}

@media screen and (min-width: 1194px) {
  section#third-section img.laptop-img {
    width: 75%;
  }
}

@media screen and (min-width: 90em) {
  section#first-section .illustration {
    overflow-x: visible;
    width: 45rem;
    margin-top: -6rem;
  }
  section#first-section .illustration img.desktop-illustration {
    margin-right: -24rem;
  }
  section#first-section .section-text-container {
    margin-top: -6rem;
  }
  section.dark img.mobile-phone-img {
    margin-bottom: -7rem;
    margin-left: 2rem;
  }
  section.dark .dark-text-container {
    width: 50%;
  }
}

@media screen and (min-width: 90.0625em) {
  section#first-section .illustration {
    overflow: visible;
  }
  section.dark {
    padding: 4rem 8rem;
  }
  section.dark img.mobile-phone-img {
    margin-top: -8rem;
    margin-bottom: -11rem;
  }
  section#third-section img.laptop-img {
    width: 66%;
  }
}
