section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    h2 {
        margin-top: 5rem;
        text-align: center;
    }
    img{
        max-width: 100%;
    }
}
section#first-section {
    margin-bottom: 12rem;

}
section.dark {
    background: $gradient-darkgreyblue url('/img/bg-pattern-circles.svg') no-repeat;
    background-size: cover;
    background-position-y: -12rem;
    background-position-x: -6rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    color: $white;
    padding: 4rem 3rem;
    position: relative;
    h3 {
        color: $white;
        margin-top: 11rem;
        font-size: 2.1rem;
    }
    img.mobile-phone-img {
    max-width: 100%;
    margin-bottom: 0;
    position: absolute;
    top: -12rem;
    // left: -1rem;
    }
    
}
section#third-section {
    .section-text-container{
        width: 100%;
    }
}