//resets
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    color: $very-greyblue;
}
h1,h2,h3,h4 {
    color: $very-darkblue;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 88%;
}
p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
ul.menu li a {
    color: $very-darkblue;
}
ul.submenu li a {
    color: $very-greyblue;
}



/* helper class to set visibility 
on different screen sizes 
.hide-on-mobile {

    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-on-desktop {

    @include breakpoint-up(large) {
        display: none;
    }
}
*/