header{
    background: url('/img/bg-pattern-intro.svg'),linear-gradient($gradient-verylightred,$gradient-lightred);
    background-repeat: no-repeat;
    background-position-x: 36%;
    background-position-y: 37%;
    background-size: 400vw;
    width: 100vw;
    color: $white;
    border-bottom-left-radius: 7rem;
    padding-top: 4rem;
    .hero {
        padding:4rem 2rem 12rem 2rem;
        text-align: center;
        h1 {
            font-family: $header-font-family;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 3rem;
            margin-bottom: 1.2rem;
            color: $white;
        }
        h2 {
            font-family: $header-font-family;
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 4rem;
            color: $white;
        }
        .button {
            padding: .95rem 1.75rem;
            background: $white;
            transition: background .4s;
            border-radius: 3.125rem;
            font-weight: 600;
        }
        .start-free {
            margin-right: 1rem;
            color: $lightred;
            text-decoration: none;
        }
        .start-free:hover{
            background: $transparent-whitehover;
            transition: background .4s;
        }
        .learn-more {
            background: transparent;
            border: 1px solid $white;
            color: $white;
            transition: color .4s;
            text-decoration: none;
        }
        .learn-more:hover {
            background: $white;
            transition: background .4s;
            color: $lightred;
            
        }
    }
}
img.logo {
    float: left;
    margin-left: 2rem;
}