nav#main-nav {
    width: 45%;
    margin-top: -.5rem;
    a{
        color: $white;
        display: block;
        font-family: $body-font-family;
        font-weight: 300;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: color 0.4s;
    }
    a:hover {
        color: $white-hover;
    }
    ul {
        list-style: none;
        display: flex;
    }
    li {
        width: 100%;
        text-align: center;
        position: relative;
        .submenu {
            background: $white;
            border-radius: .5rem;
            width: 100%;
            align-items: center;
            a {
                color: $blackblue;
                height: 3rem;
                font-weight: 400;
                span.arrow {
                    margin-left: 0.3rem;
                    font-size: 0.9rem;
                }
            }
            a:hover {
                font-weight: 700;
            }
        }
    }
    li:hover {
        .submenu > li {
            display: block;
            top: 0px;
        }
    }
}

span.arrow {
    margin-left: .25rem;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    li {
        display: none;
        position: absolute;
        top: 0px;
    }
}

nav#login-menu {
    width: 33%;
    float: right;
    margin-top: -4rem;
    a{
        color: $white;
        display: block;
        font-family: $body-font-family;
        font-weight: 300;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: color 0.4s;
    }
    a:hover {
        color: $white-hover;
    }
    a.button.sign-up {
        background: $white;
        transition: .4s;
        border-radius: 4rem;
        width: 8rem;
        height: 2.5rem;
        margin-top: .75rem;
        color: $lightred;
    }
    a.button.sign-up:hover {
        background: $transparent-whitehover;
    }
    ul {
        list-style: none;
        display: flex;
    }
    li {
        width: 100%;
        text-align: center;
        position: relative;
    }
}
#mobilemenu-toggle {
    display: none;
}
div#mobilemenu-container {
    background: transparent;
    margin: initial;
    padding: initial;
    border-radius: none;
    box-shadow: none;
}

/** RESPONSIVE **/
@media only screen and (max-width: $breakpoint-tablet) {
    div#mobilemenu-container {
        background: $white;
        margin: 4rem 2rem 2rem 2rem;
        padding: 2rem;
        border-radius: .5rem;
        box-shadow: 0 0 3rem rgba(0,0,0,.15);
        display: none;
    }
   nav#main-nav,
   nav#login-menu {
       display: inline-block;
       width: 100%;
        ul {
            flex-direction: column;
            li {
                a {
                    color: $very-darkblue;
                        span.arrow {
                            color: $lightred;
                            margin-left: .25rem;
                        }
                }
            }
        }
   } 
   nav#main-nav {
       li {
           .submenu {
               background: $lightgrey;
           }
       }
   }
   nav#login-menu {
       float: none;
       margin-top: 0;
       border-top: 1px solid $lightgrey;
       padding-top: .8rem;
   }
   a.button.sign-up {
    margin: auto;
    background: linear-gradient(to left, $gradient-verylightred, $gradient-lightred)!important;
    color: $white !important;
    }
   #mobilemenu-toggle {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-right: 2rem;
    display: initial;
   }
   span.hamburger {
    height: 2px;
    width: 100%;
    background: $white;
    display: block;
    margin-bottom: .3rem;
    }
    .submenu {
        position: initial;
    }
}