nav.header-menu {
    padding: 4rem 2rem;
    .menu {
        display:flex;
        justify-content: center;
        margin-right: auto;
        li {
            list-style: none;
            margin-right: 2rem;
            padding: .8rem 0;
        }
        .carat:after {
            content:'\02C7';
            color: $lightred;
            font-size: 1.3rem;
        }
    }
    .login-menu{
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid $greyblue;
        list-style: none;
        display: flex;
        justify-content: center;
        li{
            margin-right: 2em;
        }
    }
}

.submenu{
    margin-left: 1rem;
    text-align: center;
    background: $lightgrey;
    width: 100%;
    border-radius: 0.4rem;
    color: $very-greyblue;
    display: none;
}
.submenu.active {
    display: block;
}

.mobile-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    width: 2.0625rem;
    float: right;
}

span.hamburger {
    width: 2.05rem;
    background: $white;
    height: .15rem;
    margin-bottom: .35rem;
    display: block;
}


.mobile-menu-container { 
    background: #fff;
    padding: 2rem;
    border-radius: 0.7rem;
    margin-top: 6rem;
    display: none; 
        &.active {
            display: block;
        }
}

.menu,
.login-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
        li {
            padding: .8rem 0;
            a {
                font-family: $header-font-family;
                font-size: 1.2rem;
                font-weight: 700;
                padding: 0 .5rem;
                text-decoration: none;
                color: $very-greyblue;
            }
            a.button {
                background:linear-gradient(to right, $gradient-verylightred,$gradient-lightred);
                padding: .95rem 3.125rem;
                border-radius: 3.125rem;
                color: $white;
            }
            
        }
}

a.start-free,
a.start-free:link,
a.start-free:visited {
    color:$lightred;
    text-decoration: none;
}

a.learn-more,
a.learn-more:link,
a.learn-more:visited {
    background:transparent;
    border: 2px solid $white;
    color: $white;
    text-decoration: none;
}

footer.footer {
    nav.footer-menu{
        .menu{
            display: flex;
            li {
                list-style: none;
                margin-right: 2rem;
            }
        }
    }
}

/* responsive */
@media( min-width: 1024px ){
    .hide-on-desktop {
        display: none;
    }
    .mobile-menu-container {
        background: transparent;
        display: initial;
    }
    nav.header-menu .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        margin-right: auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: -1.2rem;
        margin-left: 9rem;
    }
    nav.header-menu .login-menu {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: none;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-end;
        flex-direction: row;
    }
}