/* RESPONSIVE */
@media screen and (min-width: $breakpoint-phone) {
    section {
        flex-direction: row;
    }
    img.mobile-phone-img {
        max-width: 100%;
        margin-bottom: 0;
        margin-top: -9rem;
    }
    section#first-section {
        flex-wrap: wrap;
        padding-right: 0;
        margin-right: -6rem;
        h2{
            flex-basis: 100%;
        }
        .section-text-container {
            width: 40%;
            order: 1;
        }
        picture {
            order: 2;
            width: 60%;
            img.desktop-illustration {
                margin-right: -18rem;
            }
        }
    }
    section.dark {
        background-position-y: -16.5rem;
        background-position-x: -7.5rem;
    }

    nav.footer-menu {
        flex-direction: row;
        ul.menu {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet){
    section#first-section {
        margin-right: -8rem;
    }
    section.dark {
        img.mobile-phone-img {
            position: initial;
        }
    }
    section#third-section {
        img.laptop-img {
            width: 80%;
            margin-left: -21.6rem;
        }
        .section-text-container {
            text-align: left;
            width: 33%;
        }
    }
}