/* RESPONSIVE */
@media screen and (min-width: $breakpoint-phone) {
    section.dark {
        background-position-y: -16.5rem;
        background-position-x: -7.5rem;
    }
}

@media screen and (min-width: $breakpoint-wide-phone) {
    section {
        flex-wrap: wrap;
    }
    img.mobile-phone-img {
        max-width: 100%;
        margin-bottom: 0;
        margin-top: -9rem;
    }
    section#first-section {
        flex-wrap: wrap;
        margin-right: 0;
        h2{
            flex-basis: 100%;
        }
        .section-text-container {
            width: 100%;
            order: 1;
        }
    }

    section.dark img.mobile-phone-img {
        top: -3rem;
    }

    nav.footer-menu {
        flex-direction: column;
        ul.menu {
            flex-direction: column;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-vert){
    header {
        img.logo {
            margin-left: 5rem;
        }
        #mobilemenu-toggle {
            margin-right: 3rem;
        }
    }
    section#first-section{
        .section-text-container {
            width: 80%;
            margin-left: 2rem;
        }
    }
    .dark-text-container {
        margin-top: 7rem;
        width: 80%;
    }
    section#third-section {
        .section-text-container {
            width: 80%;
        }
    }
    footer.footer {
        nav.footer-menu {
            ul.menu {
                flex-direction: row;
                width: 80%;
                margin-left: 4rem;
                ul.footer-submenu {
                    margin: 1.5rem auto 1.5rem -4rem;
                }
            }
        }
    }
}


@media screen and (min-width: $breakpoint-tablet){
    header {
        .hero {
            h1 {
                font-size: 3rem;
            }
        }
    } 
    section#first-section {
        flex-direction: row;
        margin-right: -8px;
        h2 {
            margin-left: -4rem;
        }
        .section-text-container {
            width: 50%;
            order: 1;
        }
        picture {
            order: 2;
            width: 50%;
            img.desktop-illustration {
                margin-right: 0;
            }
        }
    }
    section.dark {
        width: 100%;
        img.mobile-phone-img {
            position: initial;
            top: -10rem;
        }
    }
    section#third-section {
        img.laptop-img {
            width: 80%;
            margin-left: -21.6rem;
        }
        .section-text-container {
            text-align: left;
            width: 33%;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-horz){
    header {
        img.logo {
            margin-left: 7rem;
        }
        #mobilemenu-container {
            nav#main-nav {
                width: 53%;
            }
            nav#login-menu {
                margin-right: 4rem;
            }
        }
    }
    section#first-section {
        margin-right: 0;
        h2 {
            margin: 2rem 0 1rem 0;
        }
        .illustration {
            width: 31rem;
            img {
                margin-right: -17rem;
            }
        }
        .section-text-container {
            width: 40%;
            margin-top: 3rem;
            margin-left: 6rem;
        }
    }
    
    section.dark {
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 3rem;
            .dark-text-container {
                margin-top: -10rem;
                width: 40%;
            }
            img.mobile-phone-img {
                margin-top: -4rem;
            }
    }

    section#third-section {
        flex-direction: row;
            picture {
                img.laptop-img {
                    width: 100%;
                    margin-left: -24.6rem;
                }
            }
    }

    footer.footer {
        nav.footer-menu {
            ul.menu{
                width: 90%;
                margin-left: 11rem;
            }
        }
    }

}

@media screen and (min-width: $breakpoint-desktop){ 
    section#first-section {
        .illustration {
            overflow-x: hidden;
            width: 45rem;
            margin-top: -6rem;
                img.desktop-illustration {
                    margin-right: -24rem;
                }
        }
    }
    section.dark img.mobile-phone-img {
        margin-bottom: -7rem;
        margin-left: 2rem;
    }
}