/* RESPONSIVE */
@media screen and (min-width: $breakpoint-phone) {
    section.dark {
        background-position-y: -16.5rem;
        background-position-x: -7.5rem;
    }
}

@media screen and (min-width: $breakpoint-wide-phone) {
    section {
        flex-wrap: wrap;
    }
    img.mobile-phone-img {
        max-width: 100%;
        margin-bottom: 0;
        margin-top: -9rem;
    }
    section#first-section {
        flex-wrap: wrap;
        margin-right: 0;
        h2{
            flex-basis: 100%;
        }
        .section-text-container {
            width: 100%;
            order: 1;
        }
    }

    section.dark img.mobile-phone-img {
        top: -3rem;
    }

    nav.footer-menu {
        flex-direction: column;
        ul.menu {
            flex-direction: column;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-vert){
    .dark-text-container {
        margin-top: 7rem;
    }
}


@media screen and (min-width: $breakpoint-tablet){
    header {
        .hero {
            h1 {
                font-size: 3rem;
            }
        }
    } 
    section#first-section {
        margin-right: -8px;
        h2 {
            margin-left: -4rem;
        }
        picture {
            order: 2;
            width: 60%;
            img.desktop-illustration {
                margin-right: 0;
            }
        }
    }
    section.dark {
        width: 100%;
        img.mobile-phone-img {
            position: initial;
            top: -10rem;
        }
    }
    section#third-section {
        img.laptop-img {
            width: 80%;
            margin-left: -21.6rem;
        }
        .section-text-container {
            text-align: left;
            width: 33%;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-horz){ 
    .dark-text-container {
        width: 33%;
    }
    section.dark {
        flex-direction: row;
        justify-content: space-between;
    }

}