$lightred: hsl(356, 100%, 66%);
$very-lightred: hsl(355, 100%, 74%);
$very-darkblue: hsl(208, 49%, 24%);

 $white: hsl(0, 0%, 100%);
 $white-hover: hsl(0, 0%, 85%);
 $lightwhite-hover: hsl(0, 0%, 95%);
 $transparent-whitehover: hsla(0,0%,100%,0.5);
 $lightgrey: hsl(240, 7%, 95%);
 $greyblue: hsl(240, 2%, 79%);
 $very-greyblue: hsl(207, 13%, 34%);
 $blackblue: hsl(240, 10%, 16%);
 
 $gradient-verylightred: hsl(13, 100%, 72%);
 $gradient-lightred: hsl(353, 100%,62%);
 $gradient-darkgreyblue: hsl(237, 17%, 21%);
 $gradient-darkdesaturatedblue: hsl(237, 23%, 32%);

 $breakpoint-phone: 23.4375em; /* 375px */
 $breakpoint-wide-phone: 25.875em; /* 414px */
 $breakpoint-tablet: 60em; /* 960px */
 $breakpoint-tablet-vert: 48em; /* 768px */
 $breakpoint-tablet-horz: 64rem; /* 1024px */
 $breakpoint-desktop: 90em; /* 1440px  */

 $font-size-body: 16px;

 $header-font-family:'Overpass', sans-serif;
 $body-font-family: 'Ubuntu', sans-serif;

 h1, h2,h3,.button {
    font-family: $header-font-family;
 }
 p {
    font-family: $body-font-family;
    font-weight: normal;
    font-size: $font-size-body;
    line-height: 1.5rem;
 }

 /* Utility classes */
 .hide {
    display: none;
 }
 .show {
    display: block !important;
 }
 .rotate-right {
    transform: rotate(45deg);
    transform-origin: .5rem;
    transition: transform .4s;
 }
 .rotate-left {
    transform: rotate(-45deg);
    transform-origin: .4rem;
    transition: transform .4s;
 }
 .no-opacity {
    opacity: 0;
 }
//  .show{
//     margin-top: 4rem;
//     opacity: 1;
//     transition: margin-top 100ms ease-out;
//     transition: opacity 400ms ease-out;
//  }
//  .hide {
//     opacity: 0;
//     margin-top: -55rem;
//     transition: opacity 200ms ease-out;
//     transition: margin-top 400ms ease-out;
//  }

//  .submenu-show {
//    display: block;
//    opacity: 1;
//    transition: opacity 150ms ease-in;
//    background: $greyblue;
//    width: 100%;
//    border-radius: .5rem;
//    padding: .5rem;
//  }
//  .submenu-hide {
//     display:none;
//     opacity: 0;
//     transition: opacity 200ms ease-out;
//  }
